<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(222, 216, 222);
            font-weight: bold;
            font-style: italic;
            text-decoration: underline;
        }
    </style>
</head>
<body >
    <h1 style="color: aqua;">Welcome to Our Website!</h1>
    <h2 style="color: blue ">Good afternoon!</h2>
    <h3 style="color: gray">Thanks for choosing us</h3>
    <h4 style="color: red ">search what do you want?</h4>
    <h5 style="color: rgb(236, 16, 16)">Here is your result</h5>
    <h6 style="color: palevioletred">Thanks for visiting!</h6>

    <ul>
        <li>item A</li>
        <li>item B</li>
        <li>item C</li>
    </ul>

    <ol>
        <li>item X</li>
        <li>item Y</li>
        <li>item Z</li>
    </ol>

    <footer> &copy; 2025 my website all terms reservved </footer>
</body>

</html>