<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
     <tr><td>Name<td>
        <td>Email<td>
        <td>Contact<td>
        <td>Gender<td>
        <td>Password</td>
    </tr>
    {%for i in x%}
     <tr><td>{{i.Name}}</td>
        <td>{{i.Email}}</td>
        <td>{{i.Contact}}</td>
        <td>{{i.Gender}}</td>
        <td>{{i.Password}}</td>
        <td><a href="del/{(i.id)}">Delete</a></td>
        <td><a href="edit/{{i,id}}"Edit</a></td>
    </tr>
    {% endfor %}
  <table>
</body>
</html>
